.sidemenu {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    transition: all 0.6s;
    &.active {
        left: 0;
        visibility: visible;
      }
    .modal__overlay {
        display: none;
        z-index: 10;
    }
    .modal__close {
        position: relative;
        display: none;
        top: 0;
        left: 0;
        margin-right: 16px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: $bg-color_light;
        padding: 30px 28px 0 24px;
        width: 305px;
        z-index: 15;
    }
    &__logo {
        height: 51px;
        margin-right: 62px; 
        &-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 46px;
            div {
                display: flex;
                align-items: center;
            }
        }
    }
    &__list {
        list-style: none;
        transform: translateX(-40px);
        &-item {
            margin-bottom: 24px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            &:hover {
                cursor: pointer;
            }
            &_active {
                position: relative;
                color: $text-color_light;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -24px;
                    top: -2px;
                    width: 4px;
                    height: 28px;
                    border-radius: 2px;
                    background-color: $active-color;
                }
            }
        }
    }
    &__contact {
        width: 152px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__mail {
        margin-top: 17px;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.2px;
    }
    &__phone-number {
        font-family: 'TT Lakes Bold';
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
    }
    &__languages {
        width: 87px;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
    }
    &__language {
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;        
        font-weight: 500;
        letter-spacing: -0.2px;
        &_active {            
            color: $text-color_light;
        }
    }
}