$bg-color: #F8F8F8;
$bg-color_light: #FFFFFF;
$button-color: #FF3E79;
$active-color: #41F6D7;
$active-color_light: #B8FFEC;
$text-color: #1B1C21;
$text-color_light: #7E7E82;
$line-color: #D9FFF5;